:root {
  --bg: black;
  --color:gold;

  --red: red;
  --green: green;

  --padding: 10px;
  --padding_small: 5px;
  --radius:10px;
  --radius_small:5px;
  --radius_big:25px;

  --transparent_2: rgba(0, 0, 0, 0.2);
	--transparent_5: rgba(0, 0, 0, 0.5);
	--transparent_8: rgba(0, 0, 0, 0.8);
	--transparent_yellow: rgba(255, 215, 0, 0.2);
}

body{
	background:var(--bg);
	color:var(--color);
	font-family: 'Roboto Condensed';
  font-size: 14px;
  line-height: 16px;
}
.grad {
	background-color:var(--green);
	background-image: url('./../img/bg.jpg');
	background-repeat: repeat;
	background-size: 300px auto;
	text-align:center;
}
.grad:before{
	content: "";
	background-color:transparent;
	background-image: radial-gradient(transparent, black);
	position:absolute;
	z-index: 1;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
}
#casino_root{
  position: fixed;
  z-index: 9999;
  top: 0px;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
}

.deco {
	--c:var(--color);   /* color */
	--b:1px;   /* thickness of lines */
	--o1:15px; /* offest of lines*/
	--o2:10px; /* offset of rectangle */
	
	border:var(--o1) solid transparent; 
	outline:var(--b) solid var(--c); 
	outline-offset:calc(-1*var(--o2));
	background:
	  linear-gradient(var(--c) 0 0) top,
	  linear-gradient(var(--c) 0 0) left,
	  linear-gradient(var(--c) 0 0) bottom,
	  linear-gradient(var(--c) 0 0) right;
	background-size:200% var(--b),var(--b) 200%; 
	background-origin:padding-box;
	background-repeat:no-repeat;
	padding:1px;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, address {
    margin: 0px;
}
h1 {
	font-size: 50px;
	line-height: 50px;
  font-family: 'Grenadier';
}
h2 {
	font-size: 30px;
	line-height: 30px;
  font-family: 'Grenadier';
}
h3 {
	font-size: 20px;
	line-height: 20px;
}
h4 {
	font-size: 16px;
	line-height: 16px;
}
h5 {
	font-size: 14px;
	line-height: 14px;
}
h6 {
  font-size: 12px;
  line-height: 12px;
}

ul{
	margin:0px;
	padding:0px;
}
ul li{
	list-style: none;
  display: block;
}
ul.list_circle li{
	list-style-type: circle;
}

a, a:hover, a:focus, a:active{
	color:var(--yellow);
	text-decoration: none;
}

.text_red{
  color: var(--red);
}
.text_green{
  color: var(--green);
}
.capitalize{
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}
.text_center{
  text-align: center;
}

#logo_icon{
  width: 40px;
}
#logo_splash{
  width: 60px;
}

textarea.shadow_concav, input.shadow_concav, button.shadow_concav, .shadow_concav{
	-moz-box-shadow:    inset 4px 4px 8px 2px var(--transparent_8)!important;
  -webkit-box-shadow: inset 4px 4px 8px 2px var(--transparent_8)!important;
  box-shadow:         inset 4px 4px 8px 2px var(--transparent_8)!important;
}
textarea.shadow_convex, input.shadow_convex, button.shadow_convex, .shadow_convex{
	-moz-box-shadow:    4px 4px 8px 2px var(--transparent_8)!important;
  -webkit-box-shadow: 4px 4px 8px 2px var(--transparent_8)!important;
  box-shadow:         4px 4px 8px 2px var(--transparent_8)!important;
}

textarea:focus, input:focus{
  outline: none;
}

/* FORMS, BUTTONS, INPUTS, TEXTAREA */
.sign_container{
  width: 100%;
  max-width: 420px;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  padding: var(--padding);  
  font-size: 14px;
  line-height: 14px;
}
.sign_container_box{
  background-color: var(--transparent_5);
  padding: var(--padding);
}
.sign_box{
  color: var(--color);
  padding: var(--padding);
  border-radius: 10px;
  text-align: center;
  height: 180px;
  position: relative;
  z-index: 1;
}
.sign_box.isMinor_sign{
  padding: 50px;  
}
.sign_box.isMinor_sign p{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0%;
  width: 100%;
  transform: translate(0px, -50%);
}
.sign_container input{
    margin-bottom: 5px;
}
.sign_container ul{
  margin-bottom: 10px;
}
.sign_container ul li{
  padding: 5px;
  border: solid 1px var(--color);
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 14px;
  width: 100px;
  cursor: pointer;
}
.sign_container ul li.active, .sign_container ul li:hover, .sign_container ul li:focus, .sign_container ul li:active{
  background-color: var(--color);
  color: var(--bg);
}
.sign_container #signin_tab{
  border-radius: 10px 0px 0px 10px;
}
.sign_container #signup_tab{
  border-radius: 0px 10px 10px 0px;
}
.sign_container #signin_tab:hover, .sign_container #signin_tab:focus, .sign_container #signin_tab:active{
  border-right: solid 1px var(--bg);
}
.sign_container #signup_tab:hover, .sign_container #signup_tab:focus, .sign_container #signup_tab:active{
  border-left: solid 1px var(--bg);
}
.sign_container button{
  margin-top: var(--padding_small);
}
.sign_container form{
  margin-top: var(--padding);
}
.sign_container .label_container{
  text-align: right;
  padding-top: var(--padding_small);
}
.sign_container_error{
  padding: var(--padding);
}
.sign_extra_info{
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  padding: var(--padding_small);
  height: 40px;
}
.sign_extra_info span{
  text-decoration: underline;
  cursor: pointer;
}

/* checkbox and radio buttons */
.checkbox_radio_container input[type="radio"], .checkbox_radio_container input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;	/* For iOS < 15 to remove gradient background */
	background-color: transparent;
	appearance: none;
  padding: 0px !important;
  width: 20px;
  height: 20px;
	border-radius: 100%!important;
	display: grid;
  place-content: center;
  cursor: pointer;
}
.checkbox_radio_container input[type="radio"]{
	border-radius: 100%!important;
}
.checkbox_radio_container input[type="checkbox"] {
	border-radius: var(--radius_small)!important;
}

.checkbox_radio_container input[type="radio"]::before{
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--color);
	background-color: CanvasText;
}
.checkbox_radio_container input[type="checkbox"]::before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--color);
	background-color: CanvasText;
	transform-origin: bottom left;
  	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.checkbox_radio_container input[type="radio"]:checked::before, .checkbox_radio_container input[type="checkbox"]:checked::before {
	transform: scale(1);
}
.checkbox_radio_container input[type="radio"]:focus, .checkbox_radio_container input[type="checkbox"]:focus {
	outline: max(2px, 0.15em) solid currentColor;
}
.checkbox_radio_container label{
	display: inline-flex;
  grid-template-columns: 20px auto;
  gap: 10px;
	margin:5px!important;
}
.checkbox_radio_container label h6{
  text-align: left;
}

/* BUTTONS */
.mybutton{
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  height: 25px;
  width: 100%;
  cursor: pointer;
}
.round{
  width: 50px;
  height: 50px;
  background-color: var(--color)!important;
  border: solid 1px var(--color)!important;
  color: var(--bg)!important;
  border-radius: 100%;
}
.round:hover, .round:active, .round:focus{
  background-color: var(--bg)!important;
  color: var(--color)!important;
}
.button_transparent{
  background-color: transparent!important;
  border: solid 1px var(--color)!important;
  color: var(--color)!important;
}
.button_transparent:hover, .button_transparent:active, .button_transparent:focus{
  background-color: var(--transparent_yellow)!important;
}
.button_fullcolor{
  background-color: var(--color)!important;
  border: solid 1px var(--color)!important;
  color: var(--bg)!important;
}
.button_fullcolor:hover, .button_fullcolor:active, .button_fullcolor:focus{
  background-color: transparent!important;
  color: var(--color)!important;
}
.button_fullcolor_dark{
  background-color: var(--bg)!important;
  border: solid 1px var(--bg)!important;
  color: var(--color)!important;
}
.button_fullcolor_dark:hover, .button_fullcolor_dark:active, .button_fullcolor_dark:focus{
  background-color: var(--color)!important;
  color: var(--bg)!important;
}

.close{
	width: 30px;
  height: 30px;
  background-color: var(--color);
  border: solid 1px var(--color);
  color: var(--bg);
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  top: -15px;
  right: -15px;
  font-size: 30px;
  line-height: 25px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.close:active, .close:focus, .close:hover{
  background-color: var(--bg);
  color: var(--text);
}

input, textarea{
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
  height: 25px;
  width: 100%;
  background-color: transparent;
}
.input_light{
  border: solid 1px var(--color);  
  color: var(--color);
}
.input_dark{
  border: solid 1px var(--bg);
  color: var(--bg);
}
textarea {
	resize: none;
  min-height: 200px;
}

.alert {
  width: 100%;
  padding: var(--padding);
  border-radius: var(--radius);
  font-size: 12px;
  line-height: 12px;
  margin: 0px;
  margin-top: var(--padding);
}
.alert.alert-success {
  background-color: rgba(0, 128, 0, 0.3);
  border: solid 1px var(--green);
  color: var(--green);
}
.alert.alert-danger {
  background-color: rgba(255, 0, 0, 0.3);
  border: solid 1px var(--red);
  color: var(--red);
}

.page_exit{
  text-align: center;
  padding: var(--padding);
}
#exit_salon{
  display: inline-block;
  max-width: 100px;
}

/* SALON */
.header{
  text-align: center;
  margin-bottom: var(--padding);
}
#header_sign{
  margin: var(--padding);
}
.cell_salon_container{
  padding: var(--padding);
  text-align: center;
}
.cell_salon{
  border: solid 1px var(--color);
  border-radius: var(--radius);
  padding: var(--padding);
  height: 120px;
  background-color: var(--transparent_2);
}
.cell_salon p{
  margin-bottom: 10px;
}
.cell_salon h4{
  font-size: 20px;
  line-height: 20px;
}

.casino_games_container{
  overflow: hidden;
}
.casino_games_table_container{
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
      -o-transition: height 1s ease;
     -ms-transition: height 1s ease;
         transition: height 1s ease;
}
.casino_games_table_container.open{
  height: 140px;
}
.salon_games{
  overflow: hidden;
}
.casino_games_title{
  background-color: transparent;
  padding: var(--padding);
  margin-bottom: var(--padding);
  border-radius: var(--radius_big);
  text-align: center;
  border: solid 1px var(--color);
  cursor: pointer;
}
.casino_games_title:hover{
    background-color: var(--transparent_yellow);
}

/* dropdown */
.dropdown{
  border-radius: var(--radius);
}
.dropdown .dropdown-toggle, .dropdown .dropdown-toggle:hover, .dropdown .dropdown-toggle:active, .dropdown .dropdown-toggle:focus{
  background-color: transparent;
  border: solid 1px var(--color);
  color: var(--color);
  box-shadow: none!important;
  border-radius: var(--radius);
}
.dropdown-toggle::after{
  display: none;
}
.salon_games .dropdown .dropdown-toggle{
  width: 100%;
  border-radius: var(--radius_big);
}
.dropdown .dropdown-menu{
  background-color: var(--bg);
  border: solid 1px var(--color);
  color: var(--color);
  width: 100%;
  border-radius: var(--radius);
  overflow: hidden;
}
.dropdown-item{
  color: var(--color);
  text-align: center;
  padding: var(--padding_small) var(--padding);
}
.dropdown-item:focus, .dropdown-item:active, .dropdown-item:hover{
  background-color: var(--color);
  color: var(--bg);
}
.language .dropdown .dropdown-menu{
  min-width: auto;
}
.language .dropdown .dropdown-toggle{
  font-size: 12px;
  line-height: 12px;
  width: 100%;
}
.language .dropdown-item{
  padding: var(--padding_small);
  font-size: 12px;
  line-height: 12px;
}

/* POPUP */
.mymodal{
  z-index: 9999;
}
.modal-content{
  background-color: var(--color);
  border: solid 1px var(--bg);
  color: var(--bg);
}
.modal-header{
  padding: var(--padding_small) var(--padding);
  background: var(--bg);
  color: var(--color);
  border: solid 0px transparent;
}
.closeButton{
  background: var(--color);
  border: solid 1px var(--color);  
  color: var(--bg);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.closeButton span{
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
.closeButton:hover{
  background: var(--bg);
  color: var(--color);
}
.popup_body{
  color: var(--bg);
}
.isMinor_button{
  display: inline-block;
  width: 50%;
  padding: var(--padding_small);
}
.mymodal .modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* COOKIES */
.cookies_msg_container {
  position: absolute;
  bottom: 50px;	
  padding: 20px;
  max-width: 780px;
  width: 100%;	
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
}
.cookies_msg{
  display: flex;
  align-items: center;
  justify-content: space-between;	
  background: var(--color);	
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--color);    
}
.cookies_text {
  width: 75%;
  display: block;
  color: var(--bg);
  font-size: 14px;
  text-align: left;
}
.confirm_cookies {
  width: 20%;
  display: block;
  position: relative;
}
.confirm_cookies button {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:var(--color);
  color:var(--bg);
  border-radius:20px;
  border:solid 1px var(--color);
}
.confirm_cookies button:hover {
  background:transparent;
}

/* LANGUAGE */
.language{
  position: absolute;
  z-index: 2;
  top:10px;
  left: 10px;
  padding: var(--padding_small);
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  max-width: 80px;
}
.language li{
  display: inline-block;
  vertical-align: middle;
  padding: 0px var(--padding_small);
  border-right: solid 1px var(--color);
  width: 45px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  cursor: pointer;
}
.language li:last-child{
  border: solid 0px transparent;
}

/* FOOTER */
#page-container {
  position: relative;
  min-height: 100vh;
}
.content_wrap{
  padding: var(--padding) 40px;
  transform: translate(0px, -50%);
  position: absolute;
  width: 100%;
  top: 50%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.content_wrap .title{
  text-align: center;
  padding-bottom: var(--padding);
  margin-bottom: var(--padding);
  border-bottom: solid 1px var(--color);
  font-family: 'Grenadier';
}
.footer_container {
  position: fixed;
  z-index: 9999;
  bottom: -1px;
  width: 100%;
}
.footer_button_container{
  text-align: right;
  padding: 0px var(--padding);
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
}
.footer_button{
  background-color: var(--bg);
  border:solid 1px var(--color);
  border-bottom: 0 solid transparent;
  color: var(--color);
  padding: var(--padding) var(--padding) var(--padding_small) var(--padding);
  border-radius: var(--radius) var(--radius) 0px 0px;
  display: inline-block;  
  position: relative;
  top: 1px;
}
.footer_body{
  background-color: var(--bg);
  color: var(--color);
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  height: 1px;
  overflow: hidden;
  transition: height 0.2s ease-out;
}
.footer_container.up .footer_body{
  border-top:solid 1px var(--color);
  height: 50px;
}
.footer_list, footer{
  padding: var(--padding_small) var(--padding);
}
.footer_list li{
  display: inline-block;
  padding: 0px var(--padding_small);
  border-right: solid 1px var(--color);
  cursor: pointer;
}
.footer_list li:last-child{
  border-right: solid 0px transparent;
}
#ukraine_icon{
  width: 20px;
}

/* LOADER */
.loader_container{
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}
.loader{
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0%, -50%);
  font-size: 24px;
}
.loader_container .loader img{
	width:200px;
}

/* SALON SIDEBAR LEFT */
.salon_button_container{
	position: fixed;
  z-index: 1;
  top: 0px;
	bottom: 0px;
  left: 0px;
  width: 35px;
	-webkit-transition:0.7s;
  -moz-transition:0.7s;
	-o-transition: 0.7s;
	transition:0.7s;
}
.salon_button_box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.salon_button{
  background-color: var(--transparent_5);
  border: 1px solid var(--color);
  border-left: none;
  color: var(--color);
  border-radius: 0px var(--radius) var(--radius) 0px;
  width: 35px;
  height: 130px;
  text-align: center;
  vertical-align: top;
  padding: 10px 10px 10px 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.salon_button:focus, .salon_button:hover{
  background-color: var(--transparent_yellow);
}
.salon_button span{
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  margin-top: 5px;
}

/* GAME PANEL */
.panel_container{
	top:0px;
	bottom:0px;
	right:-265px;
	width:300px;
	position:fixed;	
	z-index:9997;		
  -webkit-transition:0.7s;
  -moz-transition:0.7s;
  -o-transition: 0.7s;
	transition:0.7s;
}
.panel_button_box{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  left: 1px;
}
.panel_button{
  background-color: var(--bg);
  border: 1px solid var(--color);
  border-right: none;
  color: var(--color);
  border-radius: var(--radius) 0px 0px var(--radius);
  width: 35px;
  height: 110px;
  text-align: center;
  vertical-align: top;
  padding: 10px 5px 10px 10px;
  cursor: pointer;
  margin-bottom: 5px;
}
.panel_button:focus, .panel_button:hover {
  background-color: var(--transparent_yellow);
}
.panel_container.open{	
	right:0px;
}
.panel_box{
	display:none;
	background-color: var(--transparent_5);
	background-image: linear-gradient(var(--bg), var(--transparent_5) 50%);
	border-left:solid 1px var(--color);
	padding: 20px 10px;	
	position:absolute;
	z-index:1;
	height:100%;
  top: 0px;
	right:0px;
	width:90%;
	max-width:265px;
	text-align: left;
	color:var(--color);
}
.panel_box.active{
	display:block;
}
.panel_button span {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  margin-top: 5px;
}

/* GAMES */
.game_container{
  text-align: center;
}
.game_bets_container{
	position: fixed;
	z-index:1;
	top:0px;
	bottom:0px;
	right:100%;
	width:100%;
	padding:0px 50px;
	-webkit-transition:0.7s;
    -moz-transition:0.7s;
	-o-transition: 0.7s;
	transition:0.7s;
}
.game_bets_container.open{
	right:0px;
}
.game_bets{
	position: relative;
	z-index:1;
	top:50%;
	width:100%;
	transform: translate(0px, -50%);
	border:solid 1px var(--color);
	border-radius:10px;
	padding:10px;
	background: black;
}
.game_bets_box{
	overflow: auto;
  max-height: 400px;
}
.game_bets_clear{
  padding-top: var(--padding_small);
}
#game_bets_clear{
  background-color: var(--bg);
	color:var(--color);
	border-radius: 100%;
	border:solid 1px var(--color);
	width: 50px;
  height: 50px;
  padding: 12px 10px;
  display: inline-block;
  cursor: pointer;
}
#game_bets_clear:active, #game_bets_clear:focus, #game_bets_clear:hover{
  background-color: var(--color);
	color:var(--bg);
}
.game_start button{
  margin: var(--padding_small);
}
.game_start button svg, #game_bets_clear svg{
  font-size: 24px;
}

#roulette_bets_canvas{
  cursor: pointer;
}

/* DONATE */
#donate{
	opacity: 0;
	position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999999;
  width: 36px;
  height: 36px;
	cursor: pointer;
}
#donate svg{
	fill:var(--color);
}
#donate svg path{
	stroke:var(--bg);
}
#donate.open{
	-webkit-transition: opacity 2.0s ease-in;
	-moz-transition: opacity 2.0s ease-in;
	-o-transition: opacity 2.0s ease-in;
	transition: opacity 2.0s ease-in;
	opacity: 1;
}
.donation_container{
  display: inline-block;
  width: 100%;
  max-width: 600px;
}
.donation_box{
  padding: var(--padding);
}
.donation_link_crypto{
  margin-bottom: var(--padding);
}
#paypal_button {
  width: 100px;
  display: inline-block;
}

/* CAREER */
.career_header_container{
	margin-top: 10px;
	border-bottom: solid 1px var(--color);
	text-align: left;
}
.career_header_box{
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	margin-left: 5px;
	border: solid 1px var(--color);
	border-bottom: solid 0px transparent;
	border-radius: 10px 10px 0px 0px;
  width: 100px;
}
.career_header_box:hover, .career_header_box:active, .career_header_box:focus, .career_header_box.open{
	background-color: var(--transparent_yellow);
}
#career_header_title_dropdown_container{
	position: relative;
	z-index: 2;
}
.career_header_title_container {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-bottom: -15px;
}
.career_header_title {
  padding: 10px 20px;
  border: solid 1px var(--color);
  border-radius: 50px;
  display: inline-block;
  max-width: 600px;
  width: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.career_header_title_box_container {
  max-width: 600px;
  width: 100%;
  padding: 0px 15px;
  max-height: 105px;
  transition: height .5s ease-in-out;
  height: 0;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0px);
  color: var(--bg);
  top: 52px;
	margin-top: -10px;
}
.career_header_title_box_container.open {
  height: 105px;
}
.career_header_title_box {
  border: solid 1px var(--color);
  border-radius: 0px 0px 20px 20px;
  padding: 5px 10px;
  overflow: hidden;
  background-color: var(--color);
}
.career_header_title_box div {
  padding: 5px 20px;
  border-bottom: solid 1px var(--bg);
}
.career_container{
	text-align: left;
	padding: 5px;
}
.career_scroll{
	height: 400px;
	overflow-y: auto;
}
.career_box{
	padding: 5px 0px;
	border-bottom: solid 1px var(--color);
}
.career_box:last-child{
	padding: 5px 0px;
	border-bottom: solid 0px transparent;
}
.career_info{
  margin-bottom: var(--padding);
}
.career_info.career_requirements, .career_info.career_responsabilities
.career_info.career_requirements h4, .career_info.career_responsabilities h4{
  margin-bottom: var(--padding_small);
}
.career_info.career_requirements li, .career_info.career_responsabilities li{
  list-style: inside circle;
}

/* QUESTIONS */
.question_box{
	padding:10px;
}
.question_title{
	padding: 10px 20px;
  border: solid 1px var(--color);
  border-radius: 50px;
  display: inline-block;
  max-width: 600px;
  margin-top: 10px;
	width: 100%;
	cursor: pointer;
	position: relative;
	z-index:1;
}
.question_title:hover{
	background: var(--transparent_yellow);
}
.answer_container{
	display:none;
}
.answer_container.open{
	display:block;
  padding: var(--padding);
}

/* SPLASH SCREEN */
#splash_screen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--color);
  font-size: 30px;
  line-height: 50px;
}
#splash_screen .splash_screen_container{
  position: relative;
  z-index: 1;
  height: 400px;
  width: 400px;
}
#splash_screen .content_box{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 10;
  width: 100%;
}
#splash_screen .content-dot {
  border-top: solid 1px var(--color);
  border-bottom: solid 1px var(--color);
  padding: var(--padding_small) 0px;
  margin: var(--padding_small) 0px;
}
#splash_screen .content {
  border-top: solid 1px var(--color);
  border-bottom: solid 1px var(--color);
  padding: var(--padding_small);
}
#splash_screen #logo_icon{
  width: 60px;
}
#splash_screen .splash_title{
  font-size: 50px;
  line-height: 50px;
}
#splash_screen .splash_subtitle{
  font-family: 'Grenadier';
}
#splash_screen .main-diamond-outer {
  transform: rotate(45deg);
  border: solid 1px var(--color);
  background-color: var(--transparent_5);
  height: 400px;
  width: 400px;
  padding: var(--padding_small);
  position: relative;
  z-index: 1;
}
#splash_screen .main-diamond-inner {
  border: solid 1px var(--color);
  width: 100%;
  height: 100%;
}
#splash_screen .mid-diamond-left,
#splash_screen .mid-diamond-right{
  transform: rotate(45deg);
  border: solid 1px var(--color);
  background-color: var(--transparent_5);
  position:absolute;
  z-index: 1;
  width: 100px;
  height:100px;
}
#splash_screen .small-diamond-left-top,
#splash_screen .small-diamond-left-bottom,
#splash_screen .small-diamond-right-top,
#splash_screen .small-diamond-right-bottom{
  transform: rotate(45deg);
  border: solid 1px var(--color);
  background-color: var(--transparent_5);
  position:absolute;
  z-index: 2;
  width: 40px;
  height:40px;
}
#splash_screen .small-diamond-1,
#splash_screen .small-diamond-2,
#splash_screen .small-diamond-3,
#splash_screen .small-diamond-4{
  transform: rotate(45deg);
  border: solid 1px var(--color);
  background-color: var(--transparent_5);
  position:absolute;
  z-index: 3;
  width: 40px;
  height:40px;
}
#splash_screen .mid-diamond-left {
  left: -125px;
  top:150px;
}
#splash_screen .mid-diamond-right {
  right: -125px;
  top:150px;
}
#splash_screen .small-diamond-left-top {
  top: 140px;
  left: -63px;
}
#splash_screen .small-diamond-left-bottom {
  top: 218px;
  left: -63px;
}
#splash_screen .small-diamond-right-top {
  top: 140px;
  right:-63px
}
#splash_screen .small-diamond-right-bottom {
  top: 218px;
  right:-63px
}
#splash_screen .small-diamond-1{
  top: 0px;
  left: 0px;
}
#splash_screen .small-diamond-2{
  bottom: 0px;
  left: 0px;
}
#splash_screen .small-diamond-3{
  top: 0px;
  right: 0px;
}
#splash_screen .small-diamond-4{
  bottom: 0px;
  right: 0px;
}

.progress_container{
  color: var(--color);
  width: 100%;
  max-width: 280px;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin-top: var(--padding_small);
}
.progress_box_container{
  background-color: transparent;
  border: solid 1px var(--color);
  padding: var(--padding_small);  
}
.progress_box{
  border: solid 1px var(--color);
  background-color: var(--transparent_5);
}
.progress{
    background-color: var(--color);
    height: 10px;
    border-radius: 0px;
}
.progress_text{
  padding: var(--padding_small);
  position: relative;
  z-index: 1;
}
.progress_text span{
  position: absolute;
  right: -15px;
}

/* FORGOT PASSWORD */
.forgotPassword_buttons{
  padding: var(--padding_small) 0px;
}
.forgotPassword_buttons input{
  margin-bottom: var(--padding_small);
}

/* CONTACT */
.contact_box{
  padding: var(--padding);
  border-radius: var(--radius);
  border: solid 1px var(--color);
  margin-bottom: var(--padding);
  text-align: left;
}
.contact_list{
  padding: var(--padding);
  height: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}
.contact_list_item{
  padding: var(--padding);
  border-radius: var(--radius);
  border: solid 1px var(--color);
  margin-bottom: var(--padding);
  cursor: pointer;
}
.contact_list_item_container:last-child .contact_list_item{
  margin-bottom: 0px;
}
.contact_form .label_container, .contact_form input{
  margin-bottom: var(--padding_small);
}
.contact_box .alert{
  margin-bottom: var(--padding);
}
.contact_box input, .contact_box textarea{
  background-color: var(--transparent_2);
}
#contact_list{
  background-color: var(--transparent_2);
}
#contact_map{
  background-color: var(--transparent_2);
  padding: 0px;
  overflow: hidden;
}
#contact_map .contactMap{
  height: 250px;
}
#contact_map .leaflet-popup-content-wrapper, #contact_map .leaflet-popup-tip,
#contact_map .leaflet-popup-content-wrapper, #contact_map .leaflet-popup-tip{
  background-color: var(--color);
  color: var(--bg);
}
#contact_map .leaflet-container a.leaflet-popup-close-button{
  color: var(--bg);
}

/* media */
@media (max-width: 1024px){
	
}
@media (max-width: 960px){
	
}
@media (max-width: 767px) {	
  #logo_icon{
    width: 30px;
  }
	h1 {
		font-size: 30px;
		line-height: 30px;
	}
	h2 {
		font-size: 18px;
		line-height: 18px;
	}
	h3 {
		font-size: 16px;
		line-height: 16px;
	}
	h4 {
		font-size: 14px;
		line-height: 14px;
	}	
	h6 {
		font-size: 10px;
		line-height: 10px;
	}
  .footer_list li{
    width: 100%;
    padding: var(--padding_small);
  }
  .footer_container.up .footer_body{
    height: 170px;
  }
  .mybutton{
    height: 20px;
    line-height: 10px;
  }
  .mybutton.round{
    height: 50px;
  }
  input, textarea{
    font-size: 12px;
    line-height: 12px;
    height: 20px;
  }

  /* CAREER */
  .career_header_container{
    border: none;
  }
  .career_header_container .dropdown .dropdown-toggle{
    width: 100%;
  }
  .career_scroll{
    height: 380px;
  }  

  /* SPLASH SCREEN */
  #splash_screen .splash_screen_container{
    height: 300px;
    width: 300px;
  }
  #splash_screen .content_box{
    top: 58px;
  }
  #splash_screen #logo_splash{
    width: 30px;
  }
  #splash_screen .splash_title{
    font-size: 25px;
    line-height: 25px;
  }
  #splash_screen .main-diamond-outer {
    height: 300px;
    width: 300px;
  }
  #splash_screen .mid-diamond-left,
  #splash_screen .mid-diamond-right{
    width: 60px;
    height:60px;
  }
  #splash_screen .small-diamond-left-top,
  #splash_screen .small-diamond-left-bottom,
  #splash_screen .small-diamond-right-top,
  #splash_screen .small-diamond-right-bottom,
  #splash_screen .small-diamond-1,
  #splash_screen .small-diamond-2,
  #splash_screen .small-diamond-3,
  #splash_screen .small-diamond-4{
    width: 30px;
    height:30px;
  }
  #splash_screen .mid-diamond-left {
    left: -85px;
    top: 120px;
  }
  #splash_screen .mid-diamond-right {
    right: -85px;
    top: 120px;
  }
  #splash_screen .small-diamond-left-top {
    top: 110px;
    left: -52px;
  }
  #splash_screen .small-diamond-left-bottom {
    top: 158px;
    left: -52px;
  }
  #splash_screen .small-diamond-right-top {
    top: 110px;
    right:-52px;
  }
  #splash_screen .small-diamond-right-bottom {
    top: 158px;
    right:-52px;
  }
  .progress_container{
    max-width: 250px;
  }
  .progress{
    height: 5px;
  }
  .progress_text{
    width: 100% !important;
  }
  .progress_text span {
    position: static;
  }

  /* LOADER */
  .loader_container .loader img{
		width:100px;
	}

  /* CONTACT */
  .contact_box textarea{
    min-height: 100px;
  }
  .contact_box{
    padding: var(--padding_small);
  }
  .contact_list{
    padding: var(--padding_small);
    height: 110px;
  }

  /* GAME */
  .content_wrap{
    padding: var(--padding) 10px;
  }
}
@media (max-width:576px) {	
  /* SIGN */
  .sign_container_box{
    height: 460px;
  }
  .sign_box{
    height: 240px;
  }
	.sign_container .label_container {
    text-align: left;
    padding-bottom: 5px;
  }

  /* SALON */
  .salon_button, .panel_button {
    height: 35px;
  }
  .salon_button span, .panel_button span{
    display: none;
  }

  /* SPLASH SCREEN */
  #splash_screen .splash_screen_container{
    height: 200px;
    width: 200px;
  }
  #splash_screen .content_box{
    top: 12px;
  }
  #splash_screen #logo_splash{
    width: 30px;
  }
  #splash_screen .main-diamond-outer {
    height: 200px;
    width: 200px;
  }
  #splash_screen .mid-diamond-left,
  #splash_screen .mid-diamond-right{
    width: 40px;
    height:40px;
  }
  #splash_screen .small-diamond-left-top,
  #splash_screen .small-diamond-left-bottom,
  #splash_screen .small-diamond-right-top,
  #splash_screen .small-diamond-right-bottom,
  #splash_screen .small-diamond-1,
  #splash_screen .small-diamond-2,
  #splash_screen .small-diamond-3,
  #splash_screen .small-diamond-4{
    width: 20px;
    height:20px;
  }
  #splash_screen .mid-diamond-left {
    left: -60px;
    top: 80px;
  }
  #splash_screen .mid-diamond-right {
    right: -60px;
    top: 80px;
  }
  #splash_screen .small-diamond-left-top {
    top: 62px;
    left: -36px;
  }
  #splash_screen .small-diamond-left-bottom {
    top: 118px;
    left: -36px;
  }
  #splash_screen .small-diamond-right-top {
    top: 62px;
    right:-36px;
  }
  #splash_screen .small-diamond-right-bottom {
    top: 118px;
    right:-36px;
  }   
}

@media (min-width: 768px){
	
}

@media (max-width: 960px) and (orientation: landscape) {
	
}
@media (max-width: 768px) and (orientation: landscape){
	
}

@media (max-height: 500px){
	
}

::-webkit-scrollbar{
	width: 10px;
	height:5px;
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	background:var(--color);
	border:solid 4px var(--bg)
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--color);
	border:solid 1px var(--bg)
}

.under_construction_icon{
	width: 150px;
}