:root {
	--bg: black;
  --bg-text:white;  
  --box: white;
  --box-text: black;
  --button_bg: white;
  --button_text: black;
  --red: red;
  --green: green;

  --padding: 10px;
  --padding_small: 5px;
  --radius:10px;
  --radius_small:5px;

  --transparent01: rgba(0,0,0,0.5)
}

body{
	background:var(--bg);
	color:var(--bg-text);
	font-family: Garamond, serif;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, address {
    margin: 0px;
}

h1 {
	font-size: 30px;
	line-height: 30px;
	font-family: Helvetica, sans-serif;
}

h2 {
	font-size: 24px;
	line-height: 24px;
}

h3 {
	font-size: 20px;
	line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 12px;
}

ul{
	margin:0px;
	padding:0px;
}
ul li{
	list-style: none;
}
ul.list_circle li{
	list-style-type: circle;
}

.text_red{
  color: var(--red);
}
.text_green{
  color: var(--green);
}

/* FORMS, BUTTONS, INPUTS, TEXTAREA */
.sign_container{
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-left: 50%;
  transform: translate(-50%, 0px);   
}
.sign_container_box{
  background-color: white;
  color: black;
  padding: var(--padding);
  border: solid 1px black;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.sign_container ul{
  margin-bottom: 10px;
}
.sign_container ul li{
  padding: 5px;
  border: solid 1px black;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 14px;
  width: 100px;
  cursor: pointer;
}
.sign_container ul li:hover{
  background-color: black;
  color: white;
}
.sign_container #signin_tab{
  border-radius: 10px 0px 0px 10px;
}
.sign_container #signup_tab{
  border-radius: 0px 10px 10px 0px;
}
.sign_container button{
  margin-top: 5px;
}
.sign_container form{
  margin-top: var(--padding);
}
.sign_container .label_container{
  text-align: right;
}
.sign_container_error{
  padding: var(--padding);
}

.mybutton{
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  height: 25px;
  width: 100%;
  cursor: pointer;
}
.round{
  width: 100px;
  height: 100px;
  background-color: var(--button_bg);
  border: solid 1px var(--button_bg);
  color: var(--button_text);
  cursor: pointer;
}
.round:hover, .round:active, .round:focus{
  background-color: var(--button_text);
  color: var(--button_bg);
}
.button_transparent{
  background-color: transparent;
  border: solid 1px var(--button_bg);
  color: var(--button_bg);
}
.button_transparent:hover, .button_transparent:active, .button_transparent:focus{
  background-color: var(--button_bg);
  color: var(--button_text);
}
.button_fullcolor{
  background-color: var(--button_text);
  border: solid 1px var(--button_text);
  color: var(--button_bg);
}
.button_fullcolor:hover, .button_fullcolor:active, .button_fullcolor:focus{
  background-color: var(--button_bg);
  color: var(--button_text);
}

textarea {
	resize: none;
}
input{
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
  height: 25px;
  width: 100%;
}

.alert {
  width: 100%;
  padding: var(--padding);
  border-radius: var(--radius);
  font-size: 12px;
  line-height: 12px;
  margin: 0px;
}
.alert.alert-success {
  background-color: rgba(0, 128, 0, 0.3);
  border: solid 1px var(--green);
  color: var(--green);
}
.alert.alert-danger {
  background-color: rgba(255, 0, 0, 0.3);
  border: solid 1px var(--red);
  color: var(--red);
}

.page_exit{
  text-align: center;
  padding: var(--padding);
}
#exit{
  display: inline-block;
  max-width: 100px;
}

/* SAPOU */
.sapou{
  text-align: center;
}
/* PRODUCTS */
.product_image, .product_info{
  display: inline-block;
  vertical-align: top;
  padding: var(--padding);
}
.cropped {
  width: 100px; 
  height: 100px; 
  overflow: hidden;
}

.cropped img{
  width: 400px;
  height: 400px;
}
  
.cropped .cropped_image_0 {
  margin-top: 0px;
  margin-left: 0px;
}
.cropped .cropped_image_1 {
  margin-top: 0px;
  margin-left: -100px;
}
.cropped .cropped_image_2 {
  margin-top: 0px;
  margin-left: -200px;
}
.cropped .cropped_image_3 {
  margin-top: 0px;
  margin-left: -300px;
}

/* POPUP */
#mymodal{
  background-color: var(--box);
  color: var(--box-text);
}
.modal-header{
  padding: var(--padding);
  background: black;
  color: white;
}
.closeButton{
  background: black;
  border: solid 1px black;  
  color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.closeButton span{
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
.closeButton:hover{
  background: white;
  color: black;
}
.popup_body{
  color: var(--box-text);
}

/* COOKIES */
.cookies_msg_container {
  position: absolute;
  bottom: 50px;	
  padding: 20px;
  max-width: 780px;
  width: 100%;	
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
}
.cookies_msg{
  display: flex;
  align-items: center;
  justify-content: space-between;	
  background: white;	
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
}
.cookies_text {
  width: 75%;
  display: block;
  color: black;
  font-size: 14px;
}
.confirm_cookies {
  width: 20%;
  display: block;
  position: relative;
}
.confirm_cookies button {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:black;
  color:white;
  border-radius:20px;
  border:solid 1px black;
}
.confirm_cookies button:hover {
  background:white;
  color:black;
  border:solid 1px black;
}

/* LANGUAGE */
.language{
  position: absolute;
  z-index: 1;
  top:10px;
  left: 10px;
  padding: var(--padding_small);
  font-size: 12px;
  line-height: 12px;
}
.language li{
  display: inline-block;
  vertical-align: middle;
  padding: 0px var(--padding_small);
  border-right: solid 1px var(--bg-text);
  width: 45px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  cursor: pointer;
}
.language li:last-child{
  border: solid 0px transparent;
}

/* FOOTER */
#page-container {
  position: relative;
  min-height: 100vh;
}
.footer_container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer_button_container{
  text-align: right;
  padding: var(--padding);
  padding-bottom: 0px;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
}
.footer_button{
  background-color: var(--box);
  color: var(--box-text);
  padding: var(--padding);
  padding-bottom: 0px;
  border-radius: var(--radius_small) var(--radius_small) 0px 0px;
  display: inline-block;  
}
.footer_body{
  background-color: var(--box);
  color: var(--box-text);
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  height: 0px;
  overflow: hidden;
  transition: height 0.15s ease-out;
}
.footer_container.up .footer_body{
  height: 45px;
}
.footer_list, footer{
  padding: var(--padding_small) var(--padding);
}
.footer_list li{
  display: inline-block;
  padding: 0px var(--padding_small);
  border-right: solid 1px var(--box-text);
}