:root {
	--bg: black;
  --bg-text:white;  
  --box: white;
  --box-text: black;
  --button_bg: white;
  --button_text: black;
  --red: red;
  --green: green;

  --padding: 10px;
  --padding_small: 5px;
  --radius:10px;
  --radius_small:5px;
  --radius_big:25px;

  --transparent01: rgba(0, 0, 0, 0.5);
  --transparent02: rgba(255, 255, 255,0.2);
}

body{
	background:var(--bg);
	color:var(--bg-text);
	font-family: Garamond, serif;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, address {
    margin: 0px;
}

h1 {
	font-size: 30px;
	line-height: 30px;
	font-family: Helvetica, sans-serif;
}

h2 {
	font-size: 24px;
	line-height: 24px;
}

h3 {
	font-size: 20px;
	line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 12px;
}

ul{
	margin:0px;
	padding:0px;
}
ul li{
	list-style: none;
}
ul.list_circle li{
	list-style-type: circle;
}

.text_red{
  color: var(--red);
}
.text_green{
  color: var(--green);
}
.capitalize{
  text-transform: capitalize;
}
.text_center{
  text-align: center;
}

/* FORMS, BUTTONS, INPUTS, TEXTAREA */
.sign_container{
  width: 100%;
  max-width: 300px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.sign_container_box{
  background-color: white;
  color: black;
  padding: var(--padding);
  border: solid 1px black;
  border-radius: 10px;
  text-align: center;
  height: 212px;
}
.sign_container input{
    margin-bottom: 5px;
}
.sign_container ul{
  margin-bottom: 10px;
}
.sign_container ul li{
  padding: 5px;
  border: solid 1px black;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 14px;
  width: 100px;
  cursor: pointer;
}
.sign_container ul li.active, .sign_container ul li:hover, .sign_container ul li:focus, .sign_container ul li:active{
  background-color: black;
  color: white;
}
.sign_container #signin_tab{
  border-radius: 10px 0px 0px 10px;
}
.sign_container #signup_tab{
  border-radius: 0px 10px 10px 0px;
}
.sign_container button{
  margin-top: 5px;
}
.sign_container form{
  margin-top: var(--padding);
}
.sign_container .label_container{
  text-align: right;
}
.sign_container_error{
  padding: var(--padding);
}
.sign_extra_info{
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  padding: var(--padding_small);
}
.sign_extra_info span{
  text-decoration: underline;
  cursor: pointer;
}

/* checkbox and radio buttons */
.checkbox_radio_container input[type="radio"], .checkbox_radio_container input[type="checkbox"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: #fff;
	/* Not removed via appearance */
	appearance: none;
  margin: 0px 5px 0px 0px;
  padding: 0px !important;
  width: 20px;
  height: 20px;
	border-radius: 100%!important;
	transform: translateY(3px);
	display: grid;
  place-content: center;
  cursor: pointer;
}
.checkbox_radio_container input[type="radio"]{
	border-radius: 100%!important;
}
.checkbox_radio_container input[type="checkbox"] {
	border-radius: var(--border_radius_5)!important;
}

.checkbox_radio_container input[type="radio"]::before{
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--color);
	background-color: CanvasText;
}
.checkbox_radio_container input[type="checkbox"]::before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--color);
	background-color: CanvasText;
	transform-origin: bottom left;
  	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.checkbox_radio_container input[type="radio"]:checked::before, .checkbox_radio_container input[type="checkbox"]:checked::before {
	transform: scale(1);
}
.checkbox_radio_container input[type="radio"]:focus, .checkbox_radio_container input[type="checkbox"]:focus {
	outline: max(2px, 0.15em) solid currentColor;
}
.checkbox_radio_container label{
	display: inline-flex;
  grid-template-columns: 20px auto;
  gap: 10px;
	margin:5px!important;
}
.checkbox_radio_container label p{
  text-align: left;
}

/* BUTTONS */
.mybutton{
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  height: 25px;
  width: 100%;
  cursor: pointer;
}
.round{
  width: 50px;
  height: 50px;
  background-color: var(--button_bg)!important;
  border: solid 1px var(--button_bg)!important;
  color: var(--button_text)!important;
  border-radius: 100%;
}
.round:hover, .round:active, .round:focus{
  background-color: var(--button_text)!important;
  color: var(--button_bg)!important;
}
.button_transparent{
  background-color: transparent!important;
  border: solid 1px var(--button_bg)!important;
  color: var(--button_bg)!important;
}
.button_transparent:hover, .button_transparent:active, .button_transparent:focus{
  background-color: var(--transparent02)!important;
}
.button_fullcolor{
  background-color: var(--button_text)!important;
  border: solid 1px var(--button_text)!important;
  color: var(--button_bg)!important;
}
.button_fullcolor:hover, .button_fullcolor:active, .button_fullcolor:focus{
  background-color: var(--button_bg)!important;
  color: var(--button_text)!important;
}

textarea {
	resize: none;
}
input{
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
  height: 25px;
  width: 100%;
}

.alert {
  width: 100%;
  padding: var(--padding);
  border-radius: var(--radius);
  font-size: 12px;
  line-height: 12px;
  margin: 0px;
}
.alert.alert-success {
  background-color: rgba(0, 128, 0, 0.3);
  border: solid 1px var(--green);
  color: var(--green);
}
.alert.alert-danger {
  background-color: rgba(255, 0, 0, 0.3);
  border: solid 1px var(--red);
  color: var(--red);
}

.page_exit{
  text-align: center;
  padding: var(--padding);
}
#exit_salon{
  display: inline-block;
  max-width: 100px;
}

/* SALON */
.sapou{
  text-align: center;
  margin-bottom: var(--padding);
}
.cell_salon_container{
  padding: var(--padding);
  text-align: center;
}
.cell_salon{
  border: solid 1px var(--bg-text);
  border-radius: var(--radius);
  padding: var(--padding);
  height: 140px;
}
.cell_salon p{
  margin-bottom: 10px;
}

.casino_games_container{
  overflow: hidden;
}
.casino_games_table_container{
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
      -o-transition: height 1s ease;
     -ms-transition: height 1s ease;
         transition: height 1s ease;
}
.casino_games_table_container.open{
  height: 160px;
}
.salon_games{
  overflow: hidden;
}
.casino_games_title{
  background-color: transparent;
  padding: var(--padding);
  margin-bottom: var(--padding);
  border-radius: var(--radius_big);
  text-align: center;
  border: solid 1px var(--bg-text);
  cursor: pointer;
}
.casino_games_title:hover{
    background-color: var(--transparent02);
}

/* dropdown */
.dropdown .dropdown-toggle, .dropdown .dropdown-toggle:hover, .dropdown .dropdown-toggle:active, .dropdown .dropdown-toggle:focus{
  background-color: transparent;
  border: solid 1px var(--bg-text);
  color: var(--bg-text);
  box-shadow: none!important;
}
.dropdown-toggle::after{
  display: none;
}
.salon_games .dropdown .dropdown-toggle{
  width: 100%;
  border-radius: var(--radius_big);
}
.dropdown .dropdown-menu{
  background-color: var(--box-text);
  border: solid 1px var(--box);
  color: var(--box);
  width: 100%;
  border-radius: var(--radius);
  overflow: hidden;
}
.dropdown-item{
  color: var(--box);
  text-align: center;
}
.dropdown-item:focus, .dropdown-item:active, .dropdown-item:hover{
  background-color: var(--box);
  color: var(--box-text);
}

/* POPUP */
#mymodal{
  background-color: var(--box);
  color: var(--box-text);
}
.modal-header{
  padding: var(--padding);
  background: black;
  color: white;
}
.closeButton{
  background: black;
  border: solid 1px black;  
  color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.closeButton span{
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
.closeButton:hover{
  background: white;
  color: black;
}
.popup_body{
  color: var(--box-text);
}

/* COOKIES */
.cookies_msg_container {
  position: absolute;
  bottom: 50px;	
  padding: 20px;
  max-width: 780px;
  width: 100%;	
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
}
.cookies_msg{
  display: flex;
  align-items: center;
  justify-content: space-between;	
  background: white;	
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
}
.cookies_text {
  width: 75%;
  display: block;
  color: black;
  font-size: 14px;
}
.confirm_cookies {
  width: 20%;
  display: block;
  position: relative;
}
.confirm_cookies button {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:black;
  color:white;
  border-radius:20px;
  border:solid 1px black;
}
.confirm_cookies button:hover {
  background:white;
  color:black;
  border:solid 1px black;
}

/* LANGUAGE */
.language{
  position: absolute;
  z-index: 1;
  top:10px;
  left: 10px;
  padding: var(--padding_small);
  font-size: 12px;
  line-height: 12px;
}
.language li{
  display: inline-block;
  vertical-align: middle;
  padding: 0px var(--padding_small);
  border-right: solid 1px var(--bg-text);
  width: 45px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  cursor: pointer;
}
.language li:last-child{
  border: solid 0px transparent;
}

/* FOOTER */
#page-container {
  position: relative;
  min-height: 100vh;
}
.content_wrap{
  padding: var(--padding);
  transform: translate(0px, -50%);
  position: absolute;
  width: 100%;
  top: 50%;
}
.content_wrap .title{
  text-align: center;
  padding-bottom: var(--padding);
  margin-bottom: var(--padding);
  border-bottom: solid 1px var(--bg-text);
}
.footer_container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer_button_container{
  text-align: right;
  padding: var(--padding);
  padding-bottom: 0px;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
}
.footer_button{
  background-color: var(--box);
  color: var(--box-text);
  padding: var(--padding);
  padding-bottom: 0px;
  border-radius: var(--radius_small) var(--radius_small) 0px 0px;
  display: inline-block;  
}
.footer_body{
  background-color: var(--box);
  color: var(--box-text);
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  height: 0px;
  overflow: hidden;
  transition: height 0.15s ease-out;
}
.footer_container.up .footer_body{
  height: 45px;
}
.footer_list, footer{
  padding: var(--padding_small) var(--padding);
}
.footer_list li{
  display: inline-block;
  padding: 0px var(--padding_small);
  border-right: solid 1px var(--box-text);
  cursor: pointer;
}
.footer_list li:last-child{
  border-right: solid 0px transparent;
}
#ukraine_icon{
  width: 20px;
}

/* LOADER */
.loader_container{
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}
.loader{
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0%, -50%);
  font-size: 24px;
}

/* SALON SIDEBAR LEFT */
.salon_button_container{
	position: fixed;
  z-index: 9999;
  top: 0px;
	bottom: 0px;
  left: 0px;
  width: 50px;
	-webkit-transition:0.7s;
  -moz-transition:0.7s;
	-o-transition: 0.7s;
	transition:0.7s;
}
.salon_button_box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.salon_button{
  background-color: var(--transparent02);
  border: 1px solid var(--bg-text);
  border-left: none;
  color: var(--bg-text);
  border-radius: 0px var(--radius) var(--radius) 0px;
  width: 30px;
  height: 130px;
  text-align: center;
  vertical-align: top;
  padding: 10px 10px 10px 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.salon_button span{
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  margin-top: 5px;
}